*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
}

nav{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2%;
    margin-right: 1%;
}

form{
    margin-top: 10%;
}

#submit{
    display: block;
    margin-top: 1.5%;
  }

  @media (max-width: 500px) and (min-width: 0px){
    nav{
        flex-direction: column;
    }
  }